---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../sections/Hero.astro";
import OurStory from "../sections/OurStory.astro";
import Register from "../sections/Register.astro";
import Location from "../sections/Location.astro";
import Proposal from "../sections/Proposal.astro";
import Footer from "../components/Footer.astro";
import Collaborators from "../sections/Collaborators.astro";
import Divider from "../sections/Divider.astro";

const { lang = "es" }: { lang?: "es" | "ca" | "en" } = Astro.props;
---

<Layout title="Mireia & Rubén" lang={lang}>
  <div class="flex min-h-screen flex-col">
    <Header lang={lang} />
    <main class="flex-grow">
      <Hero lang={lang} />
      <OurStory lang={lang} />
      <Proposal lang={lang} />
      <Location lang={lang} />
      <Divider lang={lang} />
      <Collaborators lang={lang} />
      <Footer lang={lang} />
    </main>
  </div>
</Layout>
