---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Hero from "../../components/Hero.astro";
import OurStory from "../../components/OurStory.astro";
import RSVP from "../../components/RSVP.astro";
import Location from "../../components/Location.astro";
import Schedule from "../../components/Schedule.astro";
import PhotoGallery from "../../components/PhotoGallery.astro";
import Proposal from "../../components/Proposal.astro";
import Footer from "../../components/Footer.astro";
import SectionTransition from "../../components/SectionTransition.astro";

const lang = "ca";
---

<Layout title="Casament de Mireia i Rubén" lang={lang}>
  <Header lang={lang} />
  <main>
    <Hero lang={lang} />
    <OurStory lang={lang} />
    <SectionTransition />
    <RSVP lang={lang} />
    <Location lang={lang} />
    <Schedule lang={lang} />
    <PhotoGallery lang={lang} />
    <Proposal lang={lang} />
  </main>
  <Footer lang={lang} />
</Layout>
