---
import { Logo } from "../icons";
import ThemeToogle from "./ThemeToogle.astro";
import { translations } from "../i18n/translations";
import LanguageSelector from "./LanguageSelector.astro";

const { lang = "es" }: { lang?: "es" | "ca" | "en" } = Astro.props;
const t = translations[lang];
---

<header class="header">
  <div class="header-container">
    <div class="flex items-center justify-center">
      <nav class="navList">
        {
          Object.entries(t.nav).map(([key, value]) => (
            <a href={`#${key}`} class="navItem text-kalam">
              {value}
            </a>
          ))
        }
      </nav>
      <a href="#" class="logo">
        <div class="triangle"></div>
        <Logo
          styles="h-28 w-28 lg:w-40 lg:h-40  fill-dark dark:fill-cream absolute top-0"
        />
      </a>

      <div class="options">
        <ThemeToogle />
        <LanguageSelector lang={lang} />
      </div>
    </div>
  </div>

  <div
    id="mobile-menu"
    class="bg-cream hidden shadow-md dark:bg-gray-900 md:hidden"
  >
    <nav class="container mx-auto flex flex-col space-y-2 px-4 py-2">
      {
        Object.entries(t.nav).map(([key, value]) => (
          <a
            href={`#${key}`}
            class="hover:text-burgundy dark:hover:text-gold text-gray-700 transition-colors duration-300 dark:text-gray-300"
          >
            {value}
          </a>
        ))
      }
    </nav>
  </div>
</header>

<style>
  .header {
    @apply bg-olive fixed left-0 right-0 top-0 z-50 bg-opacity-95 shadow-md transition-colors duration-300;
    @apply dark:bg-dark dark:bg-opacity-95;
  }
  .header-container {
    @apply m-auto max-w-screen-xl px-2 py-2 lg:px-5 lg:py-5;
  }
  .navList {
    @apply hidden w-2/5;
    @apply md:flex md:justify-between lg:justify-start lg:space-x-8 xl:space-x-10;
  }
  .navItem {
    @apply hover:text-cream text-base font-light text-dark transition-colors duration-300 lg:text-lg;
    @apply dark:text-cream dark:hover:text-leaf;
  }
  .logo {
    @apply flex w-1/5 items-center justify-center;
  }
  .triangle {
    @apply border-t-olive absolute top-14 border-[3.2rem] border-b-0 border-x-transparent border-opacity-95;
    @apply transition-colors duration-300 dark:border-t-dark;
    @apply lg:top-20 lg:border-[4.5rem] lg:border-b-0;
  }
  .options {
    @apply flex w-2/5 items-center justify-end gap-10;
  }
</style>

<script>
  const menuToggle = document.getElementById("menu-toggle") as HTMLElement;
  const mobileMenu = document.getElementById("mobile-menu") as HTMLElement;

  menuToggle.addEventListener("click", () => {
    mobileMenu.classList.toggle("hidden");
  });

  const mobileLinks = mobileMenu.querySelectorAll("a");
  mobileLinks.forEach((link) => {
    link.addEventListener("click", () => {
      mobileMenu.classList.add("hidden");
    });
  });
</script>
