---
const { lang = "es" }: { lang?: "es" | "ca" | "en" } = Astro.props;
---

<div class="select-container">
  <select id="select" class="select">
    <option value="es" selected={lang === "es"}>ES</option>
    <option value="ca" selected={lang === "ca"}>CA</option>
    <option value="en" selected={lang === "en"}>EN</option>
  </select>
</div>

<style>
  .select-container {
    @apply rounded-md bg-leaf px-2 py-1 dark:bg-sky;
  }
  .select {
    @apply w-12 bg-leaf text-sm text-cream;
    @apply focus:outline-none focus:ring-leaf;
    @apply dark:bg-sky dark:focus:ring-sky;
  }
</style>

<script>
  const languageSelect = document.getElementById("select") as HTMLSelectElement;
  languageSelect.addEventListener("change", (event) => {
    const { origin, hash, pathname } = window.location;
    const language = (event.target as HTMLSelectElement).value;

    console.log("Pathname: ", pathname.split("/")[2]);
    const path = pathname.split("/")[2];
    if (language === "es")
      window.location.href = `${origin}${path ? `/${path}` : ""}/${hash}`;

    window.location.href = `${origin}${path ? `/${path}` : ""}/${hash}`;
  });
</script>
