---
import { translations } from "../i18n/translations";
import Farinera from "../icons/farinera.astro";

type LanguageCode = "es" | "ca" | "en";
interface Props {
  lang?: LanguageCode;
}
const { lang = "es" }: Props = Astro.props;
const t = translations[lang];

const API_KEY = import.meta.env.API_KEY;
const MAP_PARAMETERS =
  "q=La+Farinera+Sant+Llu%C3%ADs&maptype=satellite&zoom=15";
const MAP_BASE_URL = "https://www.google.com/maps/embed/v1/place";
---

<section id="location-schedule" class="section">
  <div class="section-container">
    <h2 class="heading-2">
      {t.location.title}
    </h2>
    <div class="section-content">
      <div class="content-1">
        <a
          class="w-64"
          href="https://lafarinerasantlluis.com/es"
          target="_blank"><Farinera /></a
        >
        <div>
          <p class="paragraph">{t.location.address1}</p>
          <p class="paragraph">{t.location.address2}</p>
        </div>
      </div>
      <div class="content-2">
        <iframe
          class="aspect-square w-full"
          referrerpolicy="no-referrer-when-downgrade"
          src=`${MAP_BASE_URL}?key=${API_KEY}&${MAP_PARAMETERS}`
          allowfullscreen
        >
        </iframe>
      </div>
    </div>
  </div>
</section>

<style>
  .section {
    @apply bg-day_100_0 flex flex-col items-center justify-center;
    @apply dark:bg-night_0_100;
  }
  .section-container {
    @apply container flex min-w-[100dvw] flex-col gap-20 py-20;
    @apply dark:bg-night_0_0 bg-cover bg-no-repeat;
  }

  .section-content {
    @apply mx-auto flex w-[90dvw] flex-col items-center justify-center gap-10 rounded-lg text-center;
    @apply sm:max-w-xl md:max-w-[80dvw] md:flex-row lg:w-[1000px];
  }

  .content-1 {
    @apply flex aspect-video w-full flex-col items-center justify-center gap-10;
    @apply md:w-1/2;
  }
  .content-2 {
    @apply aspect-video w-full border-8 border-black;
    @apply md:w-1/2;
  }

  .paragraph {
    @apply mb-0 text-gray-700 dark:text-gray-300;
  }
</style>
