---
import { translations } from "../i18n/translations"

type LanguageCode = "es" | "ca" | "en"
interface Props {
  lang?: LanguageCode
}
const { lang = "es" }: Props = Astro.props
const t = translations[lang]

const imageUrl =
  "https://media.istockphoto.com/id/1399000045/es/foto/los-invitados-a-la-boda-aplaudiendo-mientras-la-pareja-de-reci%C3%A9n-casados-camina-por-el-pasillo.jpg?s=612x612&w=0&k=20&c=IFAu-vhPFd3gTMe-siwVqzGzJl40ZQkBb9IPXba8NC8%3D"

const imageCount = 6
const images = Array(imageCount)
  .fill(null)
  .map((_, index) => ({
    src: imageUrl,
    alt: t.photoGallery.imageAlt?.replace("{index}", (index + 1).toString()),
  }))
---

<section id='photo-gallery' class='py-16 bg-white dark:bg-gray-900'>
  <div class='container mx-auto px-4'>
    <h2
      class='text-4xl font-bold text-center text-primary dark:text-white mb-8'
    >
      {t.photoGallery.title}
    </h2>
    <div class='grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4'>
      {
        images.map((image) => (
          <div class='relative overflow-hidden rounded-lg shadow-lg group'>
            <img
              src={image.src}
              alt={image.alt}
              class='w-full h-64 object-cover transition-transform duration-300 group-hover:scale-110'
            />
            <div class='absolute inset-0 bg-black bg-opacity-50 opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex items-center justify-center'>
              <p class='text-white text-center px-4'>{image.alt}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
