---
import Collaborator from "../components/Collaborator.astro";
import { collaborators } from "../constants/collaborators.ts";
import { translations } from "../i18n/translations";
import {
  Catering,
  DJ,
  Dress,
  Light,
  Location,
  Photo,
  Ring,
  Shoes,
  Suit,
} from "../icons";

const { lang = "es" }: { lang?: "es" | "ca" | "en" } = Astro.props;
const t = translations[lang];
---

<section id={t.nav.collaborators.link.split("#").at(1)} class="section">
  <div class="section-container">
    <h3 class="heading-2">{t.collaborators.title}</h3>
    <div class="section-content">
      <a href={`https://${collaborators[0].link}`} class="item" target="_blank">
        <div class="icon">
          <Ring />
        </div>
        <Collaborator
          name={collaborators[0].name}
          phone={collaborators[0].phone}
        />
      </a>
      <a href={`https://${collaborators[1].link}`} class="item" target="_blank">
        <div class="icon">
          <Location />
        </div>
        <Collaborator
          name={collaborators[1].name}
          phone={collaborators[1].phone}
        />
      </a>
      <a href={`https://${collaborators[2].link}`} class="item" target="_blank">
        <div class="icon">
          <Catering />
        </div>
        <Collaborator
          name={collaborators[2].name}
          phone={collaborators[2].phone}
        />
      </a>
      <a href={`https://${collaborators[3].link}`} class="item" target="_blank">
        <div class="icon">
          <DJ />
        </div>
        <Collaborator
          name={collaborators[3].name}
          phone={collaborators[3].phone}
        />
      </a>
      <a href={`https://${collaborators[4].link}`} class="item" target="_blank">
        <div class="icon">
          <Light />
        </div>
        <Collaborator
          name={collaborators[4].name}
          phone={collaborators[4].phone}
        />
      </a>
      <a href={`https://${collaborators[5].link}`} class="item" target="_blank">
        <div class="icon">
          <Photo />
        </div>
        <Collaborator
          name={collaborators[5].name}
          phone={collaborators[5].phone}
        />
      </a>
      <a href={`https://${collaborators[6].link}`} class="item" target="_blank">
        <div class="icon">
          <Dress />
        </div>
        <Collaborator
          name={collaborators[6].name}
          phone={collaborators[6].phone}
        />
      </a>
      <a href={`https://${collaborators[7].link}`} class="item" target="_blank">
        <div class="icon">
          <Suit />
        </div>
        <Collaborator
          name={collaborators[7].name}
          phone={collaborators[7].phone}
        />
      </a>
      <a href={`https://${collaborators[8].link}`} class="item" target="_blank">
        <div class="icon">
          <Shoes />
        </div>
        <Collaborator
          name={collaborators[8].name}
          phone={collaborators[8].phone}
        />
      </a>
    </div>
  </div>
</section>

<style>
  .icon {
    @apply mr-4 rounded-full p-3;
  }
  .section {
    @apply flex items-start justify-center bg-olive dark:bg-dark;
  }

  .section-container {
    @apply container mt-32 flex flex-col gap-10 rounded-md py-20;
    @apply bg-cover bg-no-repeat;
  }
  .section-content {
    @apply flex flex-wrap items-center justify-center gap-6;
  }
  .item {
    @apply flex w-72 items-start rounded-md border-[1px] border-dark p-4 shadow-lg dark:border-cream;
    @apply transition-all duration-500 hover:bg-leaf lg:w-1/3 xl:w-1/4;
    @apply text-dark dark:text-cream dark:hover:bg-sky;
  }
</style>
