---
import Timeline from "../components/Timeline.astro";
import { translations } from "../i18n/translations";
import { API_SECRET } from "astro:env/server";

const { lang = "es" }: { lang?: "es" | "ca" | "en" } = Astro.props;
const t = translations[lang];

const MAP_PARAMETERS = "q=La+Farinera+Sant+Llu%C3%ADs&maptype=roadmap&zoom=15";
const MAP_BASE_URL = "https://www.google.com/maps/embed/v1/place";
---

<section id={t.nav.whereAndWhen.link.split("#").at(1)} class="section">
  <div class="section-container">
    <div class="card">
      <h3 class="heading-3">{t.location.title}</h3>
      <div class="flex flex-col items-center justify-center gap-1">
        <p class="paragraph">{t.location.place}</p>
        <p class="paragraph">
          {`${t.location.address1} ${t.location.address2}`}
        </p>
        <iframe
          class="w-full pt-4 shadow-lg md:aspect-square md:w-64 lg:w-80"
          referrerpolicy="no-referrer-when-downgrade"
          src=`${MAP_BASE_URL}?key=${API_SECRET}&${MAP_PARAMETERS}`
          allowfullscreen
        >
        </iframe>
      </div>
    </div>
    <div class="card">
      <h2 class="heading-3">{t.schedule.title}</h2>
      <div class="mx-0 flex flex-col items-center justify-center gap-1">
        <p class="paragraph">{t.location.text1}</p>
        <p class="paragraph">{t.location.text2}</p>

        <Timeline lang={lang} />
      </div>
    </div>
  </div>
</section>

<style>
  .section {
    @apply flex min-w-[100dvw] items-start justify-center;
    @apply bg-leaf dark:bg-sky;
  }

  .section-container {
    @apply container mt-32 flex flex-col justify-evenly gap-10 py-20 md:flex-row md:gap-20 md:py-20 lg:gap-64;
  }
  .card {
    @apply mx-4 flex flex-col justify-between gap-10 bg-olive bg-cover bg-no-repeat p-6 shadow-lg md:mx-0;
    @apply dark:bg-dark md:w-80 md:p-10 lg:w-1/2;
  }

  .section-content {
    @apply flex flex-col items-center justify-center gap-10;
  }

  .content-1 {
    @apply flex w-full items-end justify-center gap-4;
  }

  .paragraph {
    @apply mb-0 text-pretty text-center font-light text-dark dark:text-gray-300 md:w-64 lg:w-80;
  }
</style>
